<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Birds of Aotearoa</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/sidebar', { status: status }) %>
    <div class="lmarg">
        <h1>404 Page Not Found</h1>
        <h2>This shouldn't have happened, I'm telling mum</h2>
    </div>
    <%- include('partials/footer') %>
</body>
</html>